asgiref
attrs
beautifulsoup4
certifi
cffi
charset-normalizer
Django
exceptiongroup
h11
idna
lxml
outcome
packaging
pycparser
PySocks
python-dotenv
requests
selenium
sniffio
sortedcontainers
soupsieve
sqlparse
trio
trio-websocket
typing_extensions
tzdata
urllib3
webdriver-manager
wsproto
