<nav class="navbar fixed-top navbar-light bg-light d-flex justify-content-between">
    <div class="navbar pt-0 pb-0" role="navigation">
        <nav class="nav">
            <a class="nav-link link-dark" href="{% url 'index' %}"><b>Comparator</b></a>
            <a class="nav-link link-dark text-muted" href="#"><i>About</i></a>
        </nav>
    </div>
    <div class="input-group w-25" style="margin-right: 5px" id="searchbox">
        <input type="search" id="search-input" class="form-control" style="border-top-right-radius: 0; border-bottom-right-radius: 0;" placeholder="Search a product" aria-label="Search a product" aria-describedby="button-search">
        <div class="input-group-append">
            <button class="btn btn-success" style="border-top-left-radius: 0; border-bottom-left-radius: 0;" id="button-search">Search</button>
        </div>
    </div>
</nav>
  